/* Custom styles here */
.site-footer__logo img {
    max-width: 200px;
}
@media only screen and (min-width: 800px) {
    .navbar__logo img {
        max-height: 2.5rem;
    }
}
@media only screen and (max-width: 799px) {
    #testimonials {
        text-align: center;
        .item__body {
            max-width: 450px;
            margin: 0 auto;
        }
        img {
            max-width: 250px;
            margin: 0 auto;
        }
    }
}